body {
  margin: 0;
  background: #222;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  max-width: 750px;
  width: 100%;
  background: #333;
  border-radius: 5px;
  overflow: hidden;
}

.viewer {
  width: 100%;
  display: block;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.progress {
  flex: 1 1 100%;
  height: 5px;
  background: #555;
  cursor: pointer;
  margin-bottom: 10px;
}

.progress__filled {
  width: 0%;
  height: 100%;
  background: #f90;
  flex: 0;
}

.player__button {
  background: none;
  border: 1px solid #fff;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.player__slider {
  width: 100px;
}
